:root{
    --larguracard: 151px;
    --alturacard: 91px;
    --espessura: 1px;
    --estiloborda: solid;
    --corborda: gray;
    --alturaconector: 50px;
    --alturaseparador: 30px;
}

.card{
    width: var(--larguracard);
    height: var(--alturacard);
    border: var(--espessura) var(--estiloborda) var(--corborda);
}

.separador{
    width: auto;
    height: var(--alturaseparador);
    background-color: #f3f7fa;
}

.separadorLinha{
    width: auto;
    height: var(--alturaseparador);
}


/* Blocos */

.blocoSupMeio{
    width: auto;
    height: fit-content;
    border-top: var(--espessura) var(--estiloborda) var(--corborda);
}

.blocoLatEsq{
    width: fit-content;
    height: auto;
    border-left: var(--espessura) var(--estiloborda) var(--corborda);
}

.blocoLatDir{
    display: grid;
    grid-template-rows: max-content auto;
}

.blocoFilho{
    display: grid;
    grid-template-columns: max-content max-content;
}


/* Caixas */

.caixaSuperior{
    display: grid;
    grid-template-rows: auto auto;
}

.caixaLatEsq{
    display: grid;
    grid-template-columns: max-content auto;
}

.caixaCantoDir{
    display: grid;
    grid-template-rows: auto max-content;
}


/* Bordas */

.bordaTopoPisoEsq{
    display: grid;
    grid-template-columns: max-content auto;
}

.bordaLat{
    display: grid;
    grid-template-rows: max-content;
}

/* Margens */

.margemLateral{
    width: calc((var(--larguracard)-1)/2);
}


/* Linhas de Conectores */

.conVert{
    height: 50px;
    border-left: var(--espessura) var(--estiloborda) var(--corborda);
}

.conHorizontal{
    width: 100px;
    height: calc((var(--alturacard)+1)/2);
    border-bottom: var(--espessura) var(--estiloborda) var(--corborda);
}

.conCantoSupEsq{
    width: auto;
    height: var(--alturaconector);
    border: var(--espessura) var(--estiloborda) var(--corborda);
    border-right: none;
    border-bottom: none;
}

.conCantoSupDir{
    width: calc((var(--larguracard)+1)/2);
    height: var(--alturaconector);
    border-right: var(--espessura) var(--estiloborda) var(--corborda);
    border-top: var(--espessura) var(--estiloborda) var(--corborda);
}

.conCaixaFilha{
    width: 100px;
    height: calc((var(--alturacard)+1)/2);
    border-bottom: var(--espessura) var(--estiloborda) var(--corborda);
    border-left: var(--espessura) var(--estiloborda) var(--corborda);
}
